html{
    font-size: 14px;
}

body{
    background-image: url(https://wallpaper.wiki/wp-content/uploads/2017/05/Beautiful-starry-night-sky-wallpaper-hd.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#main{
    font-size: 1rem;
    background-color: white;
    width: 50%;
    max-width: 500px;
    opacity: 0.8;
    margin:5%;
    padding:5%;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size:1em;
}
h1{
    text-align: center;
    font-size: 300%;
    color:white;
    text-shadow: 5px 5px gray;
}

h2{
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    float:none;
    display: block;
}

#footer{
    color: white;
    text-align: center;
}

#sd{
    margin-top: 20%;
}

#profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
}